*{
	height:100%;
	margin:0;
}

.bg-img {
	background-image: url("https://drive.google.com/uc?export=view&id=1NjOa2Yh63OYYMwYPBCeHhygujiA0OXf0");
	height:100%;
	background-position:center;
	background-size: cover;
}
